.header-section {
  background-image: url('../assets/Healthandwellness.jpg');
  background-size:cover;
  background-position:center;
  padding: 120px 20px;
  color: white;
  text-align: center;
  position: relative;
}

.header-content {
  /* background-color: rgba(0, 0, 0, 0.5);  */
  /* dark overlay for better text visibility */
  display: inline-block;
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.header-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.header-content p {
  font-size: 20px;
}

button{
  padding: 10px;
  border-radius: 50px;
  border: none;
  color: tomato;
  background-color: #fff;
  font-size: 20px;
  font-weight: 900;
}


